body
{
    background-color: #696969;
}

h1
{   
    font-family: sans-serif;
    color:white;
    text-align: center;
    font-size: 30px;
}

h2
{
    font-family: sans-serif;
    color: :#666666;
    text-align: center;
    font-size: 20px; 
}

p
{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    color: #c4c4c4;
}

#episodios
{
    font-family: sans-serif;
    text-align: left;
    font-size: 16px;
    text-decoration-color: #adacac;
    color: #adacac;
    margin-left: 25%;
}

#enumeracao
{
    font-family: sans-serif;
    text-align: left;
    font-size: 16px;
    text-decoration-color: #adacac;
    color: #adacac;
    margin-left: 25%;
}

#esquerda
{
    text-align: left;
}

a
{
    text-decoration: none;
    text-align: left;
    align-items: center;
}

#footer
{
    background-color: none;
    text-decoration-color: #ffffff;
    text-align: center;
    font-family: sans-serif;
}

#footer p
{
    background-color: black;
    color: #c9c7c7;
}

#imagem_do_topo
{
    width: 100%;
}

form
{
    text-decoration-color: white;
    text-align: left;
    margin-left: 42%;
}

#idade
{
    width: 30px;
}

#submit
{
    margin-left: 10%;
}

#name_vld
{
    color: rgb(19, 156, 233);
    font-family: sans-serif;
}

#age_vld
{
    color: rgb(19, 156, 233);
    font-family: sans-serif;
}

#episode_h2
{
    margin-left: -365px;
    margin-top: 5%;
}
#episode_h1
{
    margin-left: -280px;
    margin-top: -20;
}

#episode_text
{
    align-content: center;
    text-align: center;
    margin-top: -20;
}
